
@font-face
{
  font-family:bmitra;
  src: url('../Font/bmitra.eot');
  src: url('../Font/bmitra.ttf') format("truetype"),
  url('../Font/bmitra.eot') format('embedded-opentype'),
  url('../Font/bmitra.woff') format('woff');
  
}
@font-face {
  font-family: 'fontello';
  src: url('../Font/fontello.eot?22025952');
  src: url('../Font/fontello.eot?22025952#iefix') format('embedded-opentype'),
       url('../Font/fontello.woff?22025952') format('woff'),
       url('../Font/fontello.ttf?22025952') format('truetype'),
       url('../Font/fontello.svg?22025952#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family:dinar;
  src: url('../Font/dinar.eot');
  src: url('../Font/dinar.ttf') format("truetype"),
  url('../Font/dinar.eot') format('embedded-opentype'),
  url('../Font/dinar.woff') format('woff');
  
}
@font-face
{
  font-family:bbc;
  src: url('../Font/bbc.eot');
  src: url('../Font/bbc.ttf') format("truetype"),
  url('../Font/bbc.eot') format('embedded-opentype'),
  url('../Font/bbc.woff') format('woff');
  
}

p
{
	font-family:bmitra;
}
.row
{
  max-width: 100%;

}
#main-title
{
  font-size: 11em;
  font-family: dinar;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.1em;
  color: #ffffff;
}
#main-desc
{
  text-align: center;
  font-family: bbc;
  color: #ffffff;
  font-size: 3.3em;
}
#main-pic
{
  
  background:  url('../image/iphone5.png') no-repeat bottom left;
  background-position: 5% 100%;
  
  height: 100%;
  background-attachment: fixed;
  background-size: 30%;
  
  
}
#main-page
{
  height: 600px;

/*  background: #000000 url('../image/back4.png') top left;

  background-attachment: fixed;*/
  background-color: #0E496B;

}
#market-plate
{

}
#category-text,#subject-text,#ai-text,#lost-text,#source-text{
  opacity: 0;
  transform: translate3d(+40%, 0, 0);
  -webkit-transform: translate3d(+40%, 0, 0);

}
#category-image,#subject-image,#ai-image,#lost-image,#source-image{
  opacity: 0;
  transform: translate3d(-40%, 0, 0);
  -webkit-transform: translate3d(-40%, 0, 0);

}
#category-plate,#subject-plate,#ai-plate,#lost-plate,#source-plate
{
  overflow-x:hidden;
}
.desc-images
{

  border-radius: 30px;
  height:50%;
}
.in-left
{
  
}
.in-right
{
  
}

@keyframes from-left {
  0% {
    transform: translate3d(-40%, 0, 0);
    opacity:0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}

@-webkit-keyframes from-left {
  0% {
    -webkit-transform: translate3d(-40%, 0, 0);
    opacity:0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}
@keyframes from-right {
  0% {
    transform: translate3d(40%, 0, 0);
    opacity:0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}

@-webkit-keyframes from-right {
  0% {
    -webkit-transform: translate3d(40%, 0, 0);
    opacity:0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}
#blog-page
{
  background:  url('../image/bg.jpg') no-repeat bottom left;
  background-position: 10% 100%;

  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover !important;
}
#goTop
{
  height:100px;
  width:100px;
  border:2px solid #ffffff;
  background-color:#0E496B;
  border-radius:50%;
  margin-top:-50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop p
{
  color:#ffffff;
  font-family: fontello;
  font-size: 1.6em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop:hover
{
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop:hover p
{
  color:#0E496B;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-twitter-squared:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
#goBlog
{
  width: 100%;
  border-radius:10px;
  color:#0E496B;
  background-color: #ffffff;
  font-family:bbc;
  font-weight: normal;
  font-size: 1.5em;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#goBlog:hover
{
  color:#ffffff;
  background-color: #0E496B;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
ul {display: table; margin: 0 auto;}
ul li {display: table-cell;}
.connections
{
  font-size: 2.3em;
  padding-left: 1em;
  padding-right:1em;
  font-family: fontello;
  color:#ffffff;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.connections:hover
{
  color: #909090;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}