
@font-face
{
  font-family:bmitra;
  src: url('../Font/bmitra.eot');
  src: url('../Font/bmitra.ttf') format("truetype"),
  url('../Font/bmitra.eot') format('embedded-opentype'),
  url('../Font/bmitra.woff') format('woff');
  
}
@font-face {
  font-family: 'fontello';
  src: url('../Font/fontello.eot?23473366');
  src: url('../Font/fontello.eot?23473366#iefix') format('embedded-opentype'),
       url('../Font/fontello.woff?23473366') format('woff'),
       url('../Font/fontello.ttf?23473366') format('truetype'),
       url('../Font/fontello.svg?23473366#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proLight';
  src: url('../Font/SourceSansPro-Light.eot');
  src: url('../Font/SourceSansPro-Light.eot#iefix') format('embedded-opentype'),
       url('../Font/SourceSansPro-Light.woff') format('woff'),
       url('../Font/SourceSansPro-Light.ttf') format('truetype'),
       url('../Font/SourceSansPro-Light.svg#proLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family:dinar;
  src: url('../Font/dinar.eot');
  src: url('../Font/dinar.eot') format('embedded-opentype'),
  url('../Font/dinar.woff') format('woff'),
  url('../Font/dinar.ttf') format("truetype");
  
}
@font-face
{
  font-family:bbc;
  src: url('../Font/bbc.eot');
  src: url('../Font/bbc.ttf') format("truetype"),
  url('../Font/bbc.eot') format('embedded-opentype'),
  url('../Font/bbc.woff') format('woff');
  
}

p
{
	font-family:bmitra;
}
.row
{
  max-width: 100%;

}
#main-title
{
  font-size: 11em;
  font-family: dinar;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.1em;
  color: #ffffff;
}
#main-desc
{
  text-align: center;
  font-family: bbc;
  color: #ffffff;
  font-size: 3.3em;
}
.main-pic
{
  
  background:  url('../image/iphone2.png') no-repeat bottom left;
  background-position: 5% 100%;
  
  height: 100%;
  background-attachment: fixed;
  background-size: 30%;
  
  
}
#main-page
{
  height: 600px;

/*  background: #000000 url('../image/back4.png') top left;

  background-attachment: fixed;*/
  background-color: #0E496B;

}

#market-plate
{

}
#category-text,#subject-text,#ai-text,#lost-text,#source-text{
  opacity: 0;
  transform: translate3d(+40%, 0, 0);
  -webkit-transform: translate3d(+40%, 0, 0);
}
#subject-text,#ai-text,#lost-text,#source-text,#subject-image,#ai-image,#lost-image,#source-image
{
  height: 100%;
}
#category-image,#subject-image,#ai-image,#lost-image,#source-image,#showroom-col{
  opacity: 0;
  transform: translate3d(-40%, 0, 0);
  -webkit-transform: translate3d(-40%, 0, 0);

}
#subject-plate,#lost-plate
{
  overflow-x:hidden;
  background-color:#f1f1f1;
  height:600px;
}
#ai-plate,#source-plate,#showroom-plate
{
  overflow-x:hidden;
  background-color:#ffffff;
  height:600px;
}
#category-plate
{
    overflow-x:hidden;
  background-color:#f1f1f1;
  padding-top:6em;
  padding-bottom:6em;
}
.desc-images
{

  border-radius: 30px;
  height:50%;
}
.in-left
{
  
}
.in-right
{
  
}

@keyframes from-left {
  0% {
    transform: translate3d(-40%, 0, 0);
    opacity:0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}

@-webkit-keyframes from-left {
  0% {
    -webkit-transform: translate3d(-40%, 0, 0);
    opacity:0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}
@keyframes from-right {
  0% {
    transform: translate3d(40%, 0, 0);
    opacity:0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}

@-webkit-keyframes from-right {
  0% {
    -webkit-transform: translate3d(40%, 0, 0);
    opacity:0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity:1;
  } 
}
#blog-page
{
  background:  url('../image/bg.jpg') no-repeat bottom left;
  background-position: 10% 100%;

  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover !important;
}
#goTop
{
  height:100px;
  width:100px;
  border:2px solid #ffffff;
  background-color:#0E496B;
  border-radius:50%;
  margin-top:-50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop p
{
  color:#ffffff;
  font-family: fontello;
  font-size: 1.6em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop:hover
{
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop:hover p
{
  color:#0E496B;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-twitter-squared:before { content: '\e804'; } /* '' */
.icon-facebook-squared:before { content: '\e805'; } /* '' */
.icon-circle:before { content: '\e806'; } /* '' */
.icon-circle-empty:before { content: '\e807'; } /* '' */
.icon-spin6:before { content: '\e808'; } /* '' */
.icon-spin4:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#goBlog
{
  width: 100%;
  border-radius:10px;
  color:#0E496B;
  background-color: #ffffff;
  font-family:bbc;
  font-weight: normal;
  font-size: 1.5em;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#goBlog a
{
  color:#0E496B;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#goBlog:hover a
{
  color:#ffffff;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#goBlog:hover
{
  color:#ffffff;
  background-color: #0E496B;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
ul {display: table; margin: 0 auto;}
ul li {display: table-cell;}
.connections
{
  font-size: 2.3em;
  padding-left: 1em;
  padding-right:1em;
  font-family: fontello;
  color:#ffffff;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.connections:hover
{
  color: #909090;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#gotAppStore
{
  cursor: pointer;
}
.desc-subtext1
{
  font-size:4em;
  margin-bottom:0px;
}
.desc-subtext2
{
  font-size:1.3em;
}
#source-subtext1
{
  font-size:2.5em;
  margin-bottom:0px;
}
#category-subtext1
{
  font-size:1.5em;
}
#contact-plate-col
{
  height:100%;

  background-color:#0E496B;
}
#blog-page-col,#blog-button-plate-col,#main-page-col,#showroom-col,#slider-col
{
  height: 100%;
}
.platformSelecter
{
  border-radius: 20px;
  text-align: center;
  border: 0.1em solid #a0a0a0;
  font-size: 1.4em;
  color: #202020;
  cursor: pointer;
  background-color: #ffffff;
  font-family: proLight;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.platformSelecter:hover
{
  border: 0.1em solid #a0a0a0;
  color: #ffffff;
  background-color: #505050;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.platformSelecter.activated
{
  border: 0.1em solid #a0a0a0;
  color: #ffffff;
  background-color: #505050;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#platform-selector-plate
{
  padding-top: 3em;
  padding-bottom: 1em;
}
#showroomImage
{
  margin-top: 0%;
  height:100%;
}
ul.sliderNav {display: table; margin: 0 auto;}
ul li.sliderNav {display: table-cell;}
.slideChanger
{
  color: #333333;
  font-size: 2em;
  cursor: pointer;
  font-family: fontello;
}
.sliderBullet
{
  cursor: pointer;
  color: #333333;
  font-family: fontello;
  font-size: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@keyframes hider
{
  from {opacity:1;}
  to   {opacity:0;}
}
@-webkit-keyframes hider
{
  from {opacity:1;}
  to   {opacity:0;}
}
@keyframes shower
{
  from {opacity:0;}
  to   {opacity:1;}
}
@-webkit-keyframes shower
{
  from {opacity:0;}
  to   {opacity:1;}
}

#goAbout
{
  bottom:0px;
  width: 100%;
  color:#0E496B;
  margin-bottom: 0px;
  background-color: #ffffff;
  font-family:bbc;
  font-weight: normal;
  font-size: 1.5em;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#goAbout a
{
  color:#0E496B;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#goAbout:hover a
{
  color:#ffffff;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#goAbout:hover
{
  color:#ffffff;
  background-color: #0E496B;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#showroom-plate
{
  overflow-y:hidden;
}
#loadingShape
{
  margin-top: 0.6em;
  font-family: fontello;
  font-size:1.7em;
  text-align: center;
  color:#ffffff;
}
#loadingText
{
  font-family: bmitra;
  font-size: 1.3em;
  text-align: center;
  color:#ffffff;
}
#loading-col
{
  background-color:#202020;
  opacity: 0.8;
  border-radius: 20px;
}
#loading-plate
{
  height: 100%;
  display: none;
  opacity: 0;
}
