<!DOCTYPE html>
<html>
	<head>
		<title>میراد</title>
		
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/foundation.min.css" />	
		<link rel="stylesheet" type="text/css" href="static/css/home.css" />

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type='text/javascript' src="static/js/jquery.min.js"></script>
		<script type='text/javascript' src="static/js/home.js"></script>

	</head>

	<body id="bdy" >
		<div class="row" id="main-page">
			<div  class="columns large-4" style="height:100%;">
				<div id="main-pic">
				</div>
			</div>
			<div class="columns large-8">
				<div id="main-text-plate" class="row">
					<div class="columns small-12">
						<p id="main-title">
						میراد
						</p>
						<p id="main-desc">
						هوشمند بخوانید
						</p>
					</div>
				</div>
				<div id="market-plate" class="row">
					<div class="columns large-4 large-offset-2" align="right">
						<img src="/static/image/appStore.png">
					</div>
					<div class="columns large-4 end">
						<img src="/static/image/googlePlay.png">
					</div>
				</div>
			</div>
		</div>
		<div class="row plate in-side" id="category-plate" style="background-color:#ffffff;height:600px;padding-top:4em;">
			<div id="category-image" class="columns large-5 in-left" align="right" style="height:100%;">
				<img src="/static/image/iphone2.png" class="desc-images">
			</div>
			<div id="category-text" class="columns large-7 in-right">
				<div class="row" style="margin-top:6em;">
					<div class="columns small-8 small-offset-2 end">
						<p align="justify" dir="rtl" style="font-size:1.3em;">
						 میراد، بهترین مطالب و جدیدترین خبرها را بر اساس موضوعات مورد علاقه‌ و عادت های مطالعاتیتان به شما پیشنهاد می دهد. هر قدر که بیشتر بااین نرم افزار کار کنید هوشمندتر می شود.
						مطالب و خبرهای میراد از حدود یکصد منبع متنوع خبری جمع آوری و در ۵۰ موضوع مختلف دسته بندی شده اند. با میراد شما هیچ مطلب یا خبری را که به آن علاقه دارید از دست نخواهید داد. 
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row plate in-side" id="subject-plate" style="background-color:#f1f1f1;height:600px;padding-top:4em;">
			<div id="subject-image" class="columns large-5 in-left" align="right" style="height:100%;">
				<img src="/static/image/iphone2.png" class="desc-images">
			</div>
			<div id="subject-text" class="columns large-7 in-right">
				<div class="row" style="margin-top:6em;">
					<div class="columns small-8 small-offset-2 end">
						<p align="right" dir="rtl" style="font-size:4em;margin-bottom:0px;">
						موضوعات متعدد
						</p>
						<p align="justify" dir="rtl" style="font-size:1.3em;">
							مطالب میراد در بیش از ۵۰ موضوع مختلف دسته‌بندی شده اند. شما می توانید موضوعات مورد علاقه خودتان را انتخاب کنید تا خبرهای آن دسته را از دست ندهید.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row plate in-side" id="ai-plate" style="background-color:#ffffff;height:600px;padding-top:4em;">
			<div id="ai-image" class="columns large-5 in-left" align="right" style="height:100%;">
				<img src="/static/image/iphone2.png" class="desc-images">
			</div>
			<div id="ai-text" class="columns large-7 in-right">
				<div class="row" style="margin-top:6em;">
					<div class="columns small-8 small-offset-2 end">
						<p align="right" dir="rtl" style="font-size:4em;margin-bottom:0px;">
						هوشمند بخوانید
						</p>
						<p align="justify" dir="rtl" style="font-size:1.3em;">
							میراد سعی می کند با توجه به عادت های مطالعاتی شما، مطالبی را برای شما جمع آوری کند که به آن علاقه دارید. در صورتی که به یک مطلب رای مثبت بدهید، مطالب شبیه آن مطلب برای شما بیشتر خواهد آمد.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row plate in-side" id="lost-plate" style="background-color:#f1f1f1;height:600px;padding-top:4em;">
			<div id="lost-image" class="columns large-5 in-left" align="right" style="height:100%;">
				<img src="/static/image/iphone2.png" class="desc-images">
			</div>
			<div id="lost-text" class="columns large-7 in-right">
				<div class="row" style="margin-top:8em;">
					<div class="columns small-8 small-offset-2 end">
						<p align="right" dir="rtl" style="font-size:2.5em;margin-bottom:0px;">
						هیچ خبر مهمی را از دست ندهید
						</p>
						<p align="justify" dir="rtl" style="font-size:1.3em;">
							مهم‌ترین، داغ‌ترین و جدیدترین خبرهای موضوعاتی که شما به آن ها علاقه دارید در تلفن همراه شما گوشزد(Notif) می شوند.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row plate in-side" id="source-plate" style="background-color:#ffffff;height:600px;padding-top:4em;">
			<div id="source-image" class="columns large-5 in-left" align="right" style="height:100%;">
				<img src="/static/image/iphone2.png" class="desc-images">
			</div>
			<div id="source-text" class="columns large-7 in-right">
				<div class="row" style="margin-top:6em;">
					<div class="columns small-8 small-offset-2 end">
						<p align="right" dir="rtl" style="font-size:4em;margin-bottom:0px;">
						منابع متنوع
						</p>
						<p align="justify" dir="rtl" style="font-size:1.3em;">
							مطالب میراد از منابع گوناگون مثل همشهری آنلاین، اقتصاد آنلاین، ورزش سه، زومیت، تابناک، میگنا و منابع گوناگون متنوع دیگری جمع آوری می شوند. به زودی تعداد این منابع به بیش از صد خواهد رسید!

						</p>
					</div>
				</div>
			</div>
		</div>
	</body>


</html>

